{% extends "index.html" %}
{% block conteudo %}
    <form method="post" class="form-control-sm-6">
        {% csrf_token %}
        {% for message in messages  %}
            <div class="alert alert-danger">
                {{message}}
            </div>
        {% endfor %}
        <div>
            <label> Usuário:</label>
            {{form_login.username}}
        </div>
        <div>
            <label> Senha...:</label>
            {{form_login.password}}
        </div>
        <div>
            <input type="submit" value="Entrar" class="btn btn-primary"> 
        </div>
    </form>
{% endblock conteudo %}
